:root {
  --boite-a-livre-couleur: rgb(89, 40, 12);
  --livre-couleur: rgb(10, 10, 134);
}

* {
  margin: 0;
}

.home h2 {
  padding-bottom: 3rem;
}

.home {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

.home {
  background-image: url("https://img.freepik.com/photos-premium/flou-printemps-ete-nature-plein-air-fond-flou-fond-parc-verdoyant_7190-2376.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.boite-a-livre-haut {
  height: 30vh;
  width: 70vw;
  border-style: solid;
  border-width: 2rem 2rem 1rem 2rem;
  border-color: var(--boite-a-livre-couleur);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 84, 58);
}

.boite-a-livre-bas {
  height: 30vh;
  width: 70vw;
  border-style: solid;
  border-width: 1rem 2rem 2rem 2rem;
  border-color: var(--boite-a-livre-couleur);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 84, 58);
}

.boite-a-livre-gauche {
  height: 100%;
  width: 50%;
  border-right-style: solid;
  border-width: 1rem;
  border-color: var(--boite-a-livre-couleur);
  display: flex;
  align-items: end;
  gap: 10px;
  padding: 10px;
}

.boite-a-livre-droite {
  height: 100%;
  width: 50%;
  border-left-style: solid;
  border-width: 1rem;
  border-color: var(--boite-a-livre-couleur);
  display: flex;
  align-items: end;
  gap: 10px;
  padding: 10px;
}

.home h3 {
  color: aliceblue;
  rotate: 90deg;
}

.home a {
  text-decoration: none;
}

.livre-1 {
  background-color: var(--livre-couleur);
  width: 8%;
  height: 80%;
  border-radius: 5px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.livre-1:hover {
  margin-bottom: 1rem;
}

.livre-2 {
  background-color: rgb(85, 15, 150);
  width: 8%;
  height: 85%;
  border-radius: 5px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.livre-2:hover {
  margin-bottom: 1rem;
}

.livre-3 {
  background-color: rgb(116, 10, 10);
  width: 8%;
  height: 75%;
  border-radius: 5px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.livre-3:hover {
  margin-bottom: 1rem;
}

.livre-4 {
  background-color: rgb(2, 85, 6);
  width: 8%;
  height: 80%;
  border-radius: 5px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.livre-4:hover {
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .home h3 {
    color: aliceblue;
    rotate: 90deg;
    font-size: .75rem;
  }

  .boite-a-livre-haut {
    height: 30vh;
    border-width: 1rem;
  }
  .boite-a-livre-bas {
    height: 30vh;
    border-width: 1rem;
  }

  .boite-a-livre-droite {
    padding: 10px;
    border-width: .5rem;
  }

  .boite-a-livre-gauche {
    padding: 10px;
    border-width: .5rem;
  }

  .livres {
    display: flex;
    gap: 10px;
  }

  .livre-1 {
    background-color: var(--livre-couleur);
    width: 20%;
    height: 80%;
    border-radius: 5px;
  }

  .livre-2 {
    background-color: rgb(85, 15, 150);
    width: 20%;
    height: 85%;
    border-radius: 5px;
  }

  .livre-3 {
    background-color: rgb(116, 10, 10);
    width: 20%;
    height: 75%;
    border-radius: 5px;
  }

  .livre-4 {
    background-color: rgb(2, 85, 6);
    width: 20%;
    height: 80%;
    border-radius: 5px;
  }
}
