.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin: 0.5rem 0;
}

.search-input {
  padding: 0.5rem;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.link-book {
  margin-bottom: 0.5rem;
}
